.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.item_text {
    font-family: 'Nunito Sans', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    width: 147px;
    height: 44px;
    margin-top: 10px;
}
.item_fon_ellipse img {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 15px;
    top: 14px;
}

.item_fon_ellipse {
    width: 60px;
    height: 60px;
    background: #25307B;
    box-shadow: 0px 4px 40px rgba(0, 6, 84, 0.9);
    border-radius: 50%;
    position: relative;
}
