
.wrapper {
    display: grid;
    width: 1177px;
    padding-left: 373px;
    margin-top: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-column-gap: 19px;
    grid-row-gap: 20px;
}
.name {
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: left;
}

.wrapper h2 {
    font-family: 'Nunito Sans', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    text-transform: uppercase;
    color: #18154B;
}