
.item {
    width: 220px;
    height: 360px;
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(0, 7, 94, 0.1);
    border-radius: 10px;
}

.item_header {
    display: flex;
    justify-content: space-between;
    margin: 15px 15px 0px 15px;

}

.item_header div:nth-child(1) {
    width: 46px;
    height: 22px;
    background: #F0F5FB;
    border-radius: 4px;
    text-align: center;

}

.item_header span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    font-family: 'Nunito Sans', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    background: linear-gradient(73.56deg, #0D748B -10.13%, #1A0B73 75.49%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-transform: uppercase;
}
.item figure {
    margin: 0;
    text-align: center;
}
.item figure p{
    margin: 0;
}
.item figure figcaption {
    font-family: 'Nunito Sans', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #303239;
    width: 180px;
    height: 19px;
    margin-left: 15px;
}

.ellips {
    width: 6px;
    height: 6px;
    background: #38B0C1;
    border-radius: 50%;
    margin: 8px;
}

.item div:nth-child(3) {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-left: 10px;
}

.item div:nth-child(3) div:nth-child(2) {
    padding-bottom: 3px;
    width: 61px;
    height: 16px;
    font-family: 'Nunito Sans', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #9B9B9B;
}

.price_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 17px;
}
.price {
    width: 67px;
    height: 19px;
    font-family: 'Nunito Sans', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #303239;
}
.card_button button {
    width: 180px;
    height: 44px;
    background: linear-gradient(73.56deg, #0D748B -10.13%, #1A0B73 75.49%), #FFFFFF;
    border-radius: 50px;
    font-family: 'Nunito Sans', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 5px;
}
.card_button {
    text-align: center
}

.old_price {
    display: inline-block;
    width: 48px;
    height: 14px;
    font-family: 'Nunito Sans', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    color: #9B9B9B;
}
.cart img {
    padding-bottom: 5px;
}